[server]
;本机ip地址和端口
this_ip = 127.0.0.1
this_port = 80

this_ssl_port =433
;设置https的证书的目录，只需要以host为名称就可以，比如a.dd.com.pem a.dd.com.key
this_ssl_certs_dir =certs
;如果某一个域名开启了https是否域名仅仅能通过https访问
this_ssl_must =on
;本机域名前缀
domain_this = epii.loc
;domain_other=other.jt
;web项目路径，此路径下每一个文件夹会当做一个应用，如果某一个项目不想放在此目录下，可以再app_dir中单独设置

;www_dir 为网站根目录，默认为web目录，如果设置请设置绝对路径
;www_dir = /Users/mrren/Documents/phpworkspace/EpiiWeb/web
log_dir=logs
default_app = test
;本程序以php为脚本安装和启动服务，指定php命令地址，一般为php.exe的文件路径
php_cmd=php

[nginx]
;nginx 文件地址; linux or unix 请指定nginx文件地址即可
cmd = /opt/homebrew/bin/nginx
nginx_config_file = /opt/homebrew/etc/nginx/nginx.conf
[php]
;window下 php-cgi.exe 的路径，linux 下 php-fpm 路径
php_cgi[0] = php-cgi
;如果使用php-cgi，设置的端口将被启用。如果是php-fpm 请确保此端口和php-fpm.conf中一致（php-fpm.conf 需手动修改，多个php版本一定要设置不同的端口）
port[0] = 9000 
;如果是unix则使用   socket[0] = "unix:/var/run/php-fpm.sock"
;php_cgi[1] = php-fpm
;socket[1] = "unix:/var/run/php-fpm.sock"
[app_dir]

[root_dir]


[app_php_select]


[php_env]

[domain_app]

[app_proxy_pass]
 
[domain_proxy_pass]

[app_spring_boot]

[end]